h2 {
  text-align: center;
  color: darkgreen;
  margin-bottom: 20px;
}

section {
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
}
